# DOCKER
alias dstopcont='sudo docker stop $(docker ps -a -q)'
alias dstopall='sudo docker stop $(sudo docker ps -aq)'
alias drmcont='sudo docker rm $(docker ps -a -q)'
alias dvolprune='sudo docker volume prune'
alias dsysprune='sudo docker system prune -a'
alias ddelimages='sudo docker rmi $(docker images -q)'
alias docerase='dstopcont ; drmcont ; ddelimages ; dvolprune ; dsysprune'
alias docprune='ddelimages ; dvolprune ; dsysprune'
alias dexec='sudo docker exec -ti'
alias docps='sudo docker ps -a'
alias dcrm='dcrun rm'
alias docdf='sudo docker system df'
alias dclogs='sudo docker logs -tf --tail="50" '
alias fixsecrets='sudo chown -R root:root /path/to/docker/secrets ; sudo chmod -R 600 /path/to/docker/secrets'

# DOCKER TRAEFIK
alias dcrun='cd /path/to/docker ; sudo docker compose -f /path/to/docker/docker-compose.yml '
alias dcfulllogs='cd /path/to/docker ; sudo docker compose -f /path/to/docker/docker-compose.yml logs -tf '
alias dclogs='cd /path/to/docker ; sudo docker compose -f /path/to/docker/docker-compose.yml logs -tf --tail="100" '
alias dcup='dcrun up -d'
alias dcdown='dcrun down'
alias dcrec='dcrun up -d --force-recreate'
alias dcbuild='dcrun build --pull --no-cache'
alias dcstop='dcrun stop'
alias dcrestart='dcrun restart '
alias dcpull='cd /path/to/docker ; sudo docker compose -f /path/to/docker/docker-compose.yml pull'
alias dcedit='cd /path/to/docker ; nano docker-compose.yml'
